{% extends 'core/base.html' %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Create New User</li>
{% endblock breadcrumb%}

{% block content %}
<div class="container">
    <!-- <label for="show" class="close-btn fas fa-times" title="close"></label> -->
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> -->
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h2>Reset your password {{user.first_name}}</h2>
                            <p class="text-muted">Please input your new password </p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                </div>
                                <input type="password" class="form-control" name="old_password" placeholder="Old password"required/>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                </div>
                                <input type="password" class="form-control" name="new_password" placeholder="New password"required/>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                </div>
                                <input type="password" class="form-control" name="con_pass" placeholder="Confirm password" required />
                            </div>
                            <div class="row">
                                <!-- <div class="col text-left">
                                    <a href="{% url 'home:forget-password' %}"><button type="button" class="btn btn-success  px-5">  Back </button></a>
                                </div> -->
                                <div class="col text-right">
                                    <button type="submit" class="btn btn-primary  px-5">Change Password</button>
                                </div>
                                {% if messages %}
                                {% for message in messages %}
                                <div {% if message.tags %} class="alert alert-{{message.tags}} col-12 mt-3" role="alert">{% endif %}
                                    {{message}}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <div class="card text-white bg-success py-5">
                    <div class="card-body text-center">
                        <div>
                            <h2>Sign up</h2>
                            <p class="mt-4">Register now, it's free.</p>
                            <a href="{% url 'register:new-user' %}" class="btn btn-danger active mt-3">Register Now!</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


{% endblock %}